.weather-today-card {
    width: 100%;
    border-radius: 35px;
    background-color: #102136;
    box-shadow: 0 8px 43px 0 rgba(16, 33, 54, .59);
    padding: 30px 0 38px;
    margin-bottom: 32px;
    justify-content: space-between;
    //modif af ==
    display: flex;
    flex-direction: column;
    align-items: center;
    //==
}

.current-city {
    font-size: 18px;
    line-height: 1.222;
    margin-bottom: 26px;
    font-size: 16px;
    color: hsla(0, 0%, 100%, .302);
    line-height: 1.375;
    margin-bottom: 20px;
}


//===============================mods===================
.today-degrees .temp {
    font-size: 2em;
    margin: 10px 0;
    color: #FFFFFF;
  }
  
  .minmax-temp {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
  }
  
  .min, .max {
    font-size: 1em;
  }
  
  .divide-line {
    margin: 0 10px;
  }

@media (min-width: 768px) {
    .weather-today-card {
        width: 492px;
    }
}
